{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block main%}
<h4>Conta pessoal: {{cliente.get_full_name|title}} <br> <h5>numero da sua conta: {{cliente.cliente_conta.id}}</h5></h4>

{% include "app_banco/info_saldo_limite.html" with saldo=cliente.cliente_conta.saldo limite=cliente.cliente_conta.limite %}


<div class="row mt-4 pt-4">
    <div class="col">
        <div class="card bg-info text-white mx-auto">
            <div class="card-body">Transferência</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{%url 'transferencia_url'%}">Realizar operação</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-success text-white align-item-center">
            <div class="card-body">Extrato</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{%url 'extrato_url'%}">Realizar operação</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}