{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block main%}
<h4>Conta pessoal: Pessoa tal asd dsads asdasd </h4>

<div class="row" align="center">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <class class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Saldo</div>
            <div class="card-body text-primary">
                <p>512,00</p>
            </div>
        </div>
    </class>
    <div class="col">
        <div class="card border-primary mb-3 ml-3" style="max-width: 18rem;">
            <div class="card-header">Limite</div>
            <div class="card-body text-primary">
                <p>100,00</p>
            </div>
        </div>
    </div>

</div>

<div class="row mt-4 pt-4">
    <div class="col">
        <div class="card bg-info text-white mx-auto">
            <div class="card-body">Transferência</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Realizar operação</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-success text-white align-item-center">
            <div class="card-body">Extrato</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Realizar operação</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}