<div class="row" align="center">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <class class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Saldo</div>
            <div class="card-body text-primary">
                <p>{{saldo}}</p>
            </div>
        </div>
    </class>
    <div class="col">
        <div class="card border-primary mb-3 ml-3" style="max-width: 18rem;">
            <div class="card-header">Limite</div>
            <div class="card-body text-primary">
                <p>{{limite}}</p>
            </div>
        </div>
    </div>

</div>