{%extends 'base.html'%}
{%load bootstrap%}
{%block title%}Transferência{%endblock%}

{%block main%}



<form method="post">
    {%csrf_token%}
    <div class="row">
        <div class="col">
            {{form.numero_da_conta|bootstrap}}
        </div>
        <div class="col">
            {{form.valor|bootstrap}}
        </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Continuar</button>

</form>
{%if cliente_debitado %}
<div class="jumbotron">
    <h3 class="display-5">Confirmação de transferência</h3>
    <p class="lead">Transferir para: {{cliente_debitado.cliente_conta.get_full_name|title}}</p>
    <p class="lead">CPF: {{cliente_debitado.cliente_conta.cpf}}</p>
    <p class="lead">Data nascimento: {{cliente_debitado.cliente_conta.data_nascimento|date:"d/m/Y"}}</p>
    <p class="lead">
        <a href="{% url 'confirmacao_url' cliente_debitado.id valor%}" class="btn btn-primary">Confirmar</a>
    </p>
</div>
{%endif%}

{%endblock%}